<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>RotaBus - Início</title>
        <link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" th:href="@{/css/menu.css}">
        <link rel="stylesheet" th:href="@{/css/rodape.css}">
        <link rel="stylesheet" th:href="@{/css/index.css}">
    </head>

    <body>
        <div th:replace="~{fragments/menu :: menu}"></div>

        <section class="hero">
            <div class="hero-content">
                <h1>
                    ENCONTRE SUA <span>PASSAGEM</span> DE ÔNIBUS<br>
                    FÁCIL E RAPIDAMENTE
                </h1>

                <p>Consulte horários, destinos e tarifas de forma simples.</p>

                <form class="busca-form" action="/viagens/buscar" method="get">
                    <div class="campo">
                        <label>Origem</label>
                        <input type="text" name="origem" placeholder="Onde você está?" required>
                    </div>

                    <div class="campo">
                        <label>Destino</label>
                        <input type="text" name="destino" placeholder="Para onde você vai?" required>
                    </div>

                    <div class="campo">
                        <label>Data da viagem</label>
                        <input type="date" name="data" required>
                    </div>

                    <div class="campo">
                        <label>A partir das</label>
                        <input type="time" name="horario" value="00:00" required>
                    </div>

                    <button type="submit">
                        Buscar passagens
                    </button>
                </form>
            </div>
        </section>

        <div th:replace="~{fragments/rodape :: rodape}"></div>
    </body>
</html>