<div id="cadastrar-modal" class="modal-overlay" th:fragment="cadastrar">
    <div class="modal">
        <div class="modal-header">
            <div>
                <h3>Adicionar viagem</h3>
                <p>Preencha as informações da nova viagem</p>
            </div>

            <button type="button" class="modal-close" onclick="fecharModalCadastrar()">×</button>
        </div>

        <form class="modal-form" method="post" th:action="@{/admin/viagens}">
            <div class="form-group">
                <label for="cidadeOrigem">Origem</label>
                <select id="cidadeOrigem" name="cidadeOrigemId" required>
                    <option value="" selected disabled>Selecione a origem</option>

                    <option th:each="cidade : ${cidades}"
                            th:value="${cidade.id}"
                            th:text="${cidade.nome + ' - ' + cidade.estado.uf}">
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="cidadeDestino">Destino</label>
                <select id="cidadeDestino" name="cidadeDestinoId" required>
                    <option value="" selected disabled>Selecione o destino</option>

                    <option th:each="cidade : ${cidades}"
                            th:value="${cidade.id}"
                            th:text="${cidade.nome + ' - ' + cidade.estado.uf}">
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="horarioSaida">Saída</label>
                <input type="datetime-local" id="horarioSaida" name="horarioSaida" required>
            </div>

            <div class="form-group">
                <label for="horarioChegada">Chegada</label>
                <input type="datetime-local" id="horarioChegada" name="horarioChegada" required>
            </div>

            <div class="form-group">
                <label for="valorPassagem">Preço</label>
                <input type="number" id="valorPassagem" name="valorPassagem" placeholder="R$ 0.00" min="0" step="0.01" required>
            </div>

            <div class="form-group">
                <label for="distanciaKm">Distância</label>
                <input type="number" id="distanciaKm" name="distanciaKm" placeholder="0.00 KM" min="0" step="0.01" required>
            </div>

            <div class="modal-actions">
                <button type="button" class="btn secondary" onclick="fecharModalCadastrar()">Cancelar</button>
                <button type="submit" class="btn">Salvar viagem</button>
            </div>
        </form>
    </div>
</div>