<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Viagens - Admin</title>

        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" th:href="@{/css/menu.css}">
        <link rel="stylesheet" th:href="@{/css/admin.css}">
        <link rel="stylesheet" th:href="@{/css/viagens.css}">
    </head>

    <body>
        <div th:replace="~{fragments/menu :: menu}"></div>

        <div class="admin-layout">
            <div th:replace="~{fragments/admin-sidebar :: sidebar}"></div>

            <main class="admin-content">
                <div class="top-bar">
                    <h2>Viagens cadastradas</h2>

                    <button type="button" class="btn" onclick="abrirModal()">
                        + Adicionar viagem
                    </button>
                </div>

                <div class="grid-wrapper">
                    <div class="grid">
                        <div class="grid-header">Origem</div>
                        <div class="grid-header">Destino</div>
                        <div class="grid-header">Data da viagem</div>
                        <div class="grid-header">Horário</div>
                        <div class="grid-header">Preço</div>
                        <div class="grid-header">Poltrona</div>
                        <div class="grid-header">Ações</div>

                        <div>São Paulo - SP</div>
                        <div>Campinas - SP</div>
                        <div>20/05/2025</div>
                        <div>07:00</div>
                        <div>R$ 35,00</div>
                        <div>44</div>
                        <div class="actions">
                            <button class="btn small">Editar</button>
                            <button class="btn small danger">Deletar</button>
                        </div>

                        <div>São Paulo - SP</div>
                        <div>Campinas - SP</div>
                        <div>20/05/2025</div>
                        <div>07:00</div>
                        <div>R$ 35,00</div>
                        <div>44</div>
                        <div class="actions">
                            <button class="btn small">Editar</button>
                            <button class="btn small danger">Deletar</button>
                        </div>
                    </div>
                </div>

            </main>
        </div>

        <div th:replace="~{admin/viagens/cadastrar :: cadastrar}"></div>

        <script th:src="@{/js/admin/viagens.js}"></script>
    </body>
</html>